{% extends 'base.html' %}
{% block content %}
    {% load static %}
  <body>
    <header>
      {% include 'navbar.html' %}
    </header>

    <section class="login-page">
      <h2>{% if message_list %}{% for message in message_list %}{{ message }}{% endfor %}
      {% else %}Zmień Hasło{% endif %}</h2>
      <form method="post">
          {% csrf_token %}
          {% for field in form %}
        <div class="form-group">
          <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" placeholder="{{ field.label }}" />
        </div>
          {% endfor %}


        <div class="form-group form-group--buttons">
          <button class="btn" type="submit">Potwierdź</button>
        </div>
      </form>
    </section>
  {% endblock %}


