{% extends 'charity/form.html' %}
{% load static %}
{% block form %}
    <div data-step="3" class="active">
            <h3>Wybierz organizacje, której chcesz pomóc:</h3>
    {% for foundation in foundations %}
            <div class="form-group form-group--checkbox">
              <label>
                <input type="radio" name="foundation" value="{{ foundation.name }}" />
                <span class="checkbox radio"></span>
                <span class="description">
                  <div class="title">Fundacja “{{ foundation.name}}”</div>
                  <div class="subtitle">
                    {{ foundation.description }}
                  </div>
                </span>
              </label>
            </div>
    {% endfor %}
        {% if message %}<span style="font-size:20px">{{ message }}</span>{% endif %}
            <div class="form-group form-group--buttons">
              <button name='return' value="yes" class="btn prev-step">Wstecz</button>
              <button type="submit" class="btn next-step">Dalej</button>
            </div>

          </div>
{% endblock %}