{% extends 'charity/form.html' %}
{% load static %}
{% block form %}

          <div data-step="1" class="active">
            <h3>Zaznacz co chcesz oddać:</h3>
              {% for category in categories %}
            <div class="form-group form-group--checkbox">
              <label>
                <input
                  type="checkbox"
                  name="categories"
                  value="{{ category.id }}"
                />
                <span class="checkbox"></span>
                <span class="description"
                  >{{ category.name}}</span
                >
              </label>
            </div>
              {% endfor %}

            <div class="form-group form-group--buttons">
              <button type="submit" class="btn">Dalej</button>
            </div>
          </div>

{% endblock %}
